apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "labels" . | indent 4 }}
    high-availability-config.resources.gardener.cloud/type: server
spec:
  revisionHistoryLimit: 5
  replicas: {{ .Values.global.replicaCount }}
  selector:
    matchLabels:
{{ include "labels" . | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret-tls: {{ include (print $.Template.BasePath "/secret-tls.yaml") . | sha256sum }}
        {{- if .Values.global.kubeconfig }}
        checksum/secret-kubeconfig: {{ include (print $.Template.BasePath "/secret-kubeconfig.yaml") . | sha256sum }}
        {{- end }}
      labels:
        # TODO(ialidzhikov): Double check whether we need these NetworkPolicy labels.
        networking.gardener.cloud/to-dns: allowed
        networking.resources.gardener.cloud/to-virtual-garden-kube-apiserver-tcp-443: allowed
        networking.gardener.cloud/to-runtime-apiserver: allowed
{{ include "labels" . | indent 8 }}
    spec:
      {{- if not .Values.global.virtualGarden.enabled }}
      serviceAccountName: {{ include "name" . }}
      {{- else if and .Values.global.virtualGarden.enabled .Values.global.virtualGarden.user.name }}
        {{- if .Values.global.serviceAccountTokenVolumeProjection.enabled }}
      serviceAccountName: {{ include "name" . }}
        {{- else }}
      serviceAccountName: default
        {{- end }}
      {{- else }}
      serviceAccountName: default
      {{- end }}
      {{- if .Values.global.kubeconfig }}
      automountServiceAccountToken: false
      {{- end }}
      containers:
      - name: {{ include "name" . }}
        image: {{ include "image" .Values.global.image }}
        imagePullPolicy: {{ .Values.global.image.pullPolicy }}
        args:
        - --webhook-config-server-port={{ .Values.global.webhookConfig.serverPort }}
        - --webhook-config-cert-dir=/tls
        {{- if .Values.global.kubeconfig }}
        - --kubeconfig=/kubeconfig/kubeconfig
        {{- end }}
        {{- if .Values.global.metricsPort }}
        - --metrics-bind-address=:{{ .Values.global.metricsPort }}
        {{- end }}
        - --health-bind-address=:{{ .Values.global.healthPort }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.global.healthPort }}
            scheme: HTTP
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: /readyz
            port: {{ .Values.global.healthPort }}
            scheme: HTTP
          initialDelaySeconds: 5
        ports:
        - name: webhook-server
          containerPort: {{ .Values.global.webhookConfig.serverPort }}
          protocol: TCP
{{- if .Values.global.resources }}
        resources:
{{ toYaml .Values.global.resources | nindent 10 }}
{{- end }}
        volumeMounts:
        - name: tls
          mountPath: /tls
          readOnly: true
        {{- if .Values.global.kubeconfig }}
        - name: kubeconfig
          mountPath: /kubeconfig
          readOnly: true
        {{- end }}
        {{- if .Values.global.serviceAccountTokenVolumeProjection.enabled }}
        - name: service-account-token
          mountPath: /var/run/secrets/projected/serviceaccount
          readOnly: true
        {{- end }}
      volumes:
      - name: tls
        secret:
          secretName: gardener-extension-registry-cache-admission-tls
          defaultMode: 420
      {{- if .Values.global.kubeconfig }}
      - name: kubeconfig
        secret:
          secretName: gardener-extension-registry-cache-admission-kubeconfig
          defaultMode: 420
      {{- end }}
      {{- if .Values.global.serviceAccountTokenVolumeProjection.enabled }}
      - name: service-account-token
        projected:
          sources:
          - serviceAccountToken:
              path: token
              expirationSeconds: {{ .Values.global.serviceAccountTokenVolumeProjection.expirationSeconds }}
              {{- if .Values.global.serviceAccountTokenVolumeProjection.audience }}
              audience: {{ .Values.global.serviceAccountTokenVolumeProjection.audience }}
              {{- end }}
      {{- end }}
