---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gardener-extension-registry-cache
  labels:
    app.kubernetes.io/name: gardener-extension-registry-cache
    helm.sh/chart: gardener-extension-registry-cache
    app.kubernetes.io/instance: {{ .Release.Name }}
rules:
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - clusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - extensions
  verbs:
  - list
  - watch
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - extensions
  - extensions/status
  resourceNames:
  - registry-cache
  - registry-mirror
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - list
  - watch
  - create 
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  resourceNames:
  - {{ include "name" . }}
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources
  verbs:
  - list
  - watch
  - create
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources
  resourceNames:
  - extension-registry-cache
  - extension-registry-cache-services
  verbs:
  - get
  - update
  - patch
  - delete
# TODO(dimitar-kostadinov): Remove the below rule for managedresources/status after May 2025.
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources/status
  verbs:
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - registry-cache-dashboards
  verbs:
  - get
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - list
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - scrapeconfigs
  - prometheusrules
  verbs:
  - list
  - watch
  - create
- apiGroups:
  - monitoring.coreos.com
  resources:
  - scrapeconfigs
  - prometheusrules
  resourceNames:
  - shoot-registry-cache
  verbs:
  - get
  - update
  - patch
  - delete