image: eu.gcr.io/gardener-project/gardener/extensions/registry-cache:latest
imagePullPolicy: IfNotPresent

replicaCount: 1

resources: {}

# settings for metrics, e.g. scraping by seed-prometheus
metrics:
  enableScraping: true
  # default metrics endpoint in controller-runtime
  port: 8080

vpa:
  enabled: true
  # resourcePolicy:
  #   minAllowed:
  #     memory: 128Mi
  updatePolicy:
    updateMode: "Auto"

healthPort: 8081

controllers:
  extension:
    concurrentSyncs: 5
  heartbeat: 
    renewIntervalSeconds: 30 
  ignoreOperationAnnotation: false

webhookConfig:
  servicePort: 443
  serverPort: 10251

registryConfig:
  registries:
    - ...

disableControllers: []

# imageVectorOverwrite: |
#   images:
#     - name: registry
#       sourceRepository: github.com/distribution/distribution
#       repository: eu.gcr.io/gardener-project/3rd/registry
#       tag: "2.8.3"

gardener:
  version: ""
