name: Build

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the mode to use. either `snapshot` or `release`. Will affect effective version, as well
          as target-oci-registry.

jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    with:
      mode: ${{ inputs.mode }}
      version-commit-callback-action-path: .github/actions/prepare-release
    permissions:
      contents: read

  sast-lint:
    environment: ${{ inputs.github-environment }}
    runs-on: ${{ vars.DEFAULT_RUNNER || 'ubuntu-latest' }}
    permissions:
      contents: read
    steps:
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
        with:
          remove-trusted-label: false
      - uses: actions/setup-go@v5
        if: ${{ inputs.go-version != '' || inputs.go-version-file != '' }}
        with:
          go-version: ${{ inputs.go-version != 'greatest' && inputs.go-version || '' }}
          go-version-file: ${{ inputs.go-version-file }}
      - name: setup-git-identity
        if: ${{ inputs.setup-git-identity }}
        uses: 'gardener/cc-utils/.github/actions/setup-git-identity@master'
      - name: run-linter
        shell: bash
        run: |
          set -euo pipefail

          if [ '${{ inputs.linter }}' != 'gosec' ]; then
            echo 'do not know how to run ${{ inputs.linter }}'
            exit 1
          fi

          # it is okay for the passed expression to be split into multiple tokens - have bash
          # interpret whatever is passed
          ${{ inputs.run }}

          # linter-script is expected to output `gosec-report.sarif` (hardcoded contract)
          mkdir -p /tmp/blobs.d
          tar czf /tmp/blobs.d/gosec-report.tar.gz gosec-report.sarif
          tar czf /tmp/blobs.d/verify-log.tar.gz -C /tmp/blobs.d verify-log.txt

      - name: add-sast-report-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            - name: gosec-report
              relation: local
              access:
                type: localBlob
                localReference: gosec-report.tar.gz
              labels:
                - name: gardener.cloud/purposes
                  value:
                    - lint
                    - sast
                    - gosec
                - name: gardener.cloud/comment
                  value: |
                    we use gosec (linter) for SAST scans
                    see: https://github.com/securego/gosec
            - name: test-results
              relation: local
              access:
                type: localBlob
                localReference: verify-log.tar.gz
              labels:
                - name: gardener.cloud/purposes
                  value:
                    - test

  oci-images:
    name: Build OCI-Images
    needs:
      - prepare
      - sast-lint
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: gardener-extension-registry-cache
            oci-repository: gardener/extensions/registry-cache
            target: registry-cache
          - name: gardener-extension-registry-cache-admission
            oci-repository: gardener/extensions/registry-cache-admission
            target: registry-cache-admission
    with:
      name: ${{ matrix.args.name }}
      version: ${{ needs.prepare.outputs.version }}
      target: ${{ matrix.args.target }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      oci-platforms: linux/amd64,linux/arm64

  helmcharts:
    name: Build Helmcharts
    needs:
      - prepare
      - oci-images
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: gardener/cc-utils/.github/workflows/helmchart-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: registry-cache
            dir: charts/gardener-extension-registry-cache
            oci-repository: charts/gardener/extensions
            ocm-mappings:
              - ref: ocm-resource:gardener-extension-registry-cache.repository
                attribute: image.repository
              - ref: ocm-resource:gardener-extension-registry-cache.tag
                attribute: image.tag
          - name: admission-registry-cache-application
            dir: charts/admission/charts/application
            oci-repository: charts/gardener/extensions
            ocm-mappings:
              - ref: ocm-resource:gardener-extension-registry-cache-admission.repository
                attribute: image.repository
              - ref: ocm-resource:gardener-extension-registry-cache-admission.tag
                attribute: image.tag
          - name: admission-registry-cache-runtime
            dir: charts/admission/charts/runtime
            oci-repository: charts/gardener/extensions
            ocm-mappings:
              - ref: ocm-resource:gardener-extension-registry-cache-admission.repository
                attribute: image.repository
              - ref: ocm-resource:gardener-extension-registry-cache-admission.tag
                attribute: image.tag
    with:
      name: ${{ matrix.args.name }}
      dir: ${{ matrix.args.dir }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      ocm-mappings: ${{ toJSON(matrix.args.ocm-mappings) }}